.bai-jamjuree-regular {
    font-family: "Bai Jamjuree", sans-serif;
    font-weight: 400;
    font-style: normal;
}
body {
  font-family: "Bai Jamjuree", sans-serif;
}
.navbar {
    width: 100vw;
    height: 100px;
    object-fit: cover;
    filter: brightness(.9);
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
}
.nav-item{
    font-size: 25px;
}
.collapse .home{
    text-decoration: underline;
    color: white;  
}
#about {
    height: 1024px;
    position: relative;
    background-image: url(./City-bg.png);
    background-size: cover;
    background-repeat: no-repeat;
}
#about::before{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
}
.about-text h2{
    margin-top: 250px;
    font-size: 100px;
    position: relative;
    color: azure;
}
.about-text p{
    font-size: 32px;
    position: relative;
    color: azure;
}
.about-text .btn{
    font-size: 25px;
    position: relative;
}
.about-img{
    margin-top: 330px;
    position: relative;
}
#service{
    background-color: black;
}
.section-header h3{
    color: azure;
}
.img-service {
    color: azure;
}
.detail-text{
    margin-top: 70px;
    margin-left: 50px;
    justify-content: center;
    align-items: center;
}
.detail-text h2{
    font-size: 60px;
}
.detail-text p{
    margin-top: 50px;
    font-size: 25px;
}
#database{
    background-color: #B8B8B8;
}
.database-text h2{
    margin-top: 50px;
    font-size: 60px;
}
.database-text p{
    margin-right: 100px;
    font-size: 25px;
}
#design{
    height: 1024px;
    width: auto;
    position: relative;
    background-image: url(./kid.png);
    background-size: cover;
    background-repeat: no-repeat;
}
#design::before{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
}
.design-text{
    position: relative;
    color: azure;
    padding-top: 500px
}
.design-text .btn{
    position: relative;
}
