.help{
    background: #DCDFE7;
    display: flex;
    gap: 20px;
}
.helpContent{
    background: #fff;
    flex: 1;
    border-radius: 20px;
    padding: 2rem;
    display: flex;
    gap: 1.5rem;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.upload{
    text-align: center;
}
.comment{
    text-align: center;
    margin-top: 60px;
    align-items: center;
    justify-content: center;
    
}
.commentBox{
    width: 720px;
    height: 240px;
    border-radius: 15px;
    background: #fff;
    border: #fff;
}
.submitBox{
    text-align: center;
    margin-top: 30px;
}