.formRegis{
    max-width: 340px;
    padding: 1rem;
}
.formField{
    width: 400px;
    height: 40px;
    background-color: #DDE2E7;
    border-color: #DDE2E7;
    border-radius: 15px;
    border-top:#DDE2E7;
    border-left:#DDE2E7;
    margin-top: 10px;
}
.successMessage{
    text-align: center;
    color: rgb(58, 58, 245);
}
.goLogin{
    align-items: center;
    text-align: center;
    justify-content: space-between;
}
.btnRegis{
    background-color: #FF873A;
    text-align: center;
    align-items: center;
    justify-content: center;
    width: 305px;
}