.sidebarMenu{
    background: #DCDFE7;
    display: flex;
    flex-direction: column;
}
.sideList {
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.sideList .navItem{
    display: flex;
    align-items: center;
    gap: 20px;
    transition: 0.3s ease-in-out;
    padding: 10px;
}
.sideList .navItem:hover{
    border-radius: 5px;
    background-color: #88ABD2;
}

