.blog{
    margin-top: 50px ;
    flex-direction: column;
    text-align: center;
}
.blog:hover{
    transform: scale(1.1);
    transition: 0.2s ease-in-out;
    cursor: pointer;
}
.propImg{
    width: 240px;
    height: 130px;
    border-radius: 10px;
}
.cardText{
    padding-top: 30px;
}

.icon{
    color: red;
}
